mat-toolbar {
    justify-content: space-around;   

}
.menu{
    text-decoration-line: none;
    color:blueviolet;
}

.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #dab8dc linear-gradient(to bottom, #ddb3da 5%, #e39ce7 100%);
    border-radius: 5px;
    padding: 10px 20px;
    
}
