<mat-toolbar>
   <a class="menu" routerLink="/about" routerLinkActive="activebutton">About</a>
   <a class="menu" routerLink="/login" routerLinkActive="activebutton">Login</a>
   <a class="menu" routerLink="/productions" routerLinkActive="activebutton">PRODUCTIONS</a>
</mat-toolbar>

<router-outlet></router-outlet>


<!-- TO DO 
   -components,model,dataService 
   -service.ts : fetch data using HttpClient, HttpClientModule, Observable
    : getBeers(): Observable<Production[]>{
    return this.http.get<Production[]>(this.url) }
    
   - [routerLink]="['/productions/', beer.id]" 
    :To navigate another page with param with  [routerLink] directive

   - single production detail 
    : import ActivateRoute from @angular/router;
      const id = Number(this.route.snapshot.paramMap.get('id'));

      const beer = beers.find(b => b.id === id) 

   -To navigate routerLink="/productions"
   - CSS : card, flexbox , @media 
-->