h1{
    text-align:center;
}

/***** card ******/

.card{
    background-color: rgba(43, 240, 21, 0.2);
    margin:30px;
    width:700px;
    border-radius: 8px;
    
}  
.card-title{
    background-color: rgba(43, 240, 21, 0.7);
    padding:20px;
    text-align:center;
    border-radius: 8px 8px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.card-content{
    padding:20px;
}

img{
    width:400px;
    height:500px;
    padding:100px 100px 100px 150px;
}

/***** flex ******/

.container{
    display: flex;
    justify-content: center;
}


@media (max-width:640px){
    .card{
        width:100%;
    }
    img{
        display: none;
    }
}